@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 span{
    color:#242424;
    line-height: 125;
    text-align: center;
}

li{
    list-style: none;
}

p{
    line-height: 1.5;
    font-size: 16;
}

/*navbar*/
nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav_link-list{
    display: flex;
    justify-content: space-between;
}

.nav_link--anchor{
    color: #242424;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
}

.nav_link--anchor-primary{
    background-color: blue;
    padding: 12px 20px;
    color: white;
    border-radius: 50px;
    transition: all 300ms ease;
    
}

.nav_link--anchor-primary:hover{
    background-color: rgb(107, 172, 41);
}